.main-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: stretch;
    margin: 20px;
    gap: 10px;
}

.main-item {
    background-color: #0a0a0a;
    border-radius: 5px;
    border: 3px solid red;
    width: 300px;
    height: 700px;
    animation: test 3s infinite;
}

.main-img {
    width: 300px;
    height: 340px;
}

.main-title {
    color: #EEF000;
    text-shadow: 5px 5px 10px #fff;
    text-align: center;
    font-size: 1.6em;
    margin: 10px;
}

.main-subtitle {
    color: #fff;
    font-size: 1em;
    text-align: center;
    vertical-align: bottom;
}